#addBtn,
#disableBtn {
    margin: 0;
    width: 100%;

    button {
        width: 100%;
        background-color: var(--mainColor);
        border: 1px solid transparent;
        border-radius: 3px;
        height: 40px;
        padding: 0 18px;
        font-weight: 500;
        color: white;

        &.disabled {
            background-color: var(--default);
            cursor: not-allowed;
        }
    }
}

#disableBtn {
    button {
        background-color: var(--gray10);
    }
}