@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Ubentu';
    src: url(../public/fonts/Ubuntu-Regular.ttf) format(truetype);
}

body {
    font-family: 'Ubentu';
}

::-webkit-scrollbar{
    display: none;
}


.active {
    background: linear-gradient(to right, var(--mainColor), white);
}

